body {
  background: radial-gradient(circle, rgba(34,221,44,1) 0%, rgba(0,0,0,1) 100%);
  font-family: 'Press Start 2P', cursive;
}
button {
  font-family: 'Press Start 2P', cursive;
}

.main-header {
  text-align: center;
}

.input-section {
  border: 5px solid rgb(39, 39, 104);
  max-width: 500px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  padding: 10%;
}

.the-result{
  border: 5px solid rgb(39, 39, 104);
  max-width: 500px;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  padding: 10%;
}

